<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
          https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false">
    <display-name>Chat</display-name>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.it_academy.jd2.web.filters.SecurityFilter</filter-class>
    </filter>

    <listener>
        <listener-class>by.it_academy.jd2.web.listeners.SessionChangeListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <jsp-file>/indexSignIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <jsp-file>/indexSignUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <jsp-file>/indexMenu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>



    <!--    <servlet>-->
    <!--        <servlet-name>HelloServlet</servlet-name>-->
    <!--        <servlet-class>by.it_academy.jd2.web.ServletSingUp</servlet-class>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>HelloServlet</servlet-name>-->
    <!--        <url-pattern>/test</url-pattern>-->

</web-app>

